.default-avatar, .avatar-container {
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 50px;
}

.avatar-container {
  img {
    width: 100%;
    height: auto;
    border-radius: 50px;
  }
}

.name {
  margin-left: 1rem;
}

.default-avatar {
  display: none;
  background: lighten(black, 20%);
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}
