.conversation {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100vh;

  .header-container {
    padding-left: 1.5rem;
    position: absolute;
    background: lighten(black, 10%);
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 13vh;
  }

  .messages {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 2rem;
    margin-top: 13vh;
    overflow: scroll;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }

  .message-composer {
    margin-top: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    box-sizing: border-box;
    width: 100%;
  }
}
