.users-sidebar {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  box-sizing: border-box;
  align-items: center;

  &.hovering {
    align-items: flex-start;
  }

  > button {
    margin-top: auto;
    width: 100%;
    background-color: gold;
  }
}
